/* reset css*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*utility*/

.container{
    width: 1200px;
    margin: 0 auto;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}

.support{
    background-color: #FFC0CB ;
    width: 40%;
    min-height: 500px;
    border: 2px dashed #000000;
    margin: 50px 0;
}

.main{
    background-color: #1E90FF;
    width: 60%;
    min-height: 500px;
    align-self: center;
    border: 2px dashed #000000;
}

.white-row{
    background-color: #ffffff;
    height: 600px;
}

.grey-row{
    background-color: #D3D3D3;
    min-height: 600px;
}

.small-column{
    height: 650px;
    width: calc(100% / 6);
    background-color:#20B2AA ;
    margin: 10px 0 50px 0;
    border: 2px dashed #ffffff;
}

.big-column{
    height: 650px;
    width: calc(100% / 3);
    background-color: #F08080;
    margin: 10px 0 50px 0;
    border: 2px dashed #000000;

}

/*header*/

header{
    background-color: #ADD8E6 ;
    height: 80px;
}

.header-heigh{
    height: 80px;
}

#logo{
    width:20%;
    background-color: #DAA520 ;
    height: 45px;
    display: inline-block;
    border: 2px dashed #000000;
    line-height: 30px;
    font-size: 20px;
    padding:6px;
    
}

.nav{
    width:60%;
    background-color: #DAA520 ;
    height: 45px;
    border: 2px dashed #000000;
    flex-direction: row;
    line-height: 45px;
    font-size: 20px;
    text-align: center;

}

.login{
    width:20%;
    background-color: #DAA520 ;
    height: 45px;
    border: 2px dashed #000000;
    line-height: 30px;
    font-size: 20px;
    text-align:right;
    padding:6px;
}

/*main*/

.blue-row{
    background-color:#00008B ;
    height: 500px;
}
.central-info{
    background-color: #EE82EE ;
    width: 900px;
    min-height: 400px;
    align-self: center;
    border-radius: 1%;
    border: 2px dashed #000000;
}

.reverse{
    order:-1;
}

.big-description{
    background-color: #228B22 ;
    height: 900px;
    width: 1200px;
    padding: 10px;
    margin:50px;
    border: 2px dashed #000000;
}


/*footer*/
.footer{
    background-color: #23272A ;
    width: 100%;
    min-height: 120px;
    display: inline-block;
}

.dark-row{
    background-color:#23272A ;
    min-height: 500px;
    border-bottom:1px solid #ffffff;
}

.banner{
    width: 100%;
    min-height: 90px;
    background-color: #7FFFD4;
    margin-top: 30px;
   
    }

.logo-footer , .button{
    width: 7%;
    background-color: #FFB6C1;
    height: 45px;
    border: 2px dashed #000000;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.flex-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;

}