/* reset css*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*utility*/

.container{
    width: 1200px;
    margin: 0 auto;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   

}

.support{
    background-color: #FFC0CB ;
    width: 40%;
    min-height: 500px;
    border: 2px dashed black;
}

.main{
    background-color: #1E90FF;
    width: 60%;
    min-height: 500px;
    align-self: center;
    border: 2px dashed black;
}

.white-row{
    background-color: #ffffff;
    height: 600px;
    
}

.grey-row{
    background-color: #D3D3D3;
    min-height: 600px;
}

/*header*/

header{
    background-color: #ADD8E6 ;
    height: 80px;
}

.header{
    height: 80px;
}

#logo{
    width:20%;
    background-color: #DAA520 ;
    height: 45px;
    display: inline-block;
    border: 2px dashed black;
    line-height: 45px;
    font-size: 20px;
    
}


.nav{
    width:60%;
    background-color: #DAA520 ;
    height: 45px;
    border: 2px dashed black;
    flex-direction: row;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    
    
}

.login{
    width:20%;
    background-color: #DAA520 ;
    height: 45px;
    border: 2px dashed black;
    line-height: 45px;
    font-size: 20px;
    text-align:right;
}

/*main*/

.blue-row{
    background-color:#00008B ;
    height: 500px;
}
.central-info{
    background-color: #EE82EE ;
    width: 900px;
    min-height: 400px;
    align-self: center;
    border-radius: 1%;
    border: 2px dashed black;
}

.reverse{
    order:-1;
}

.big-description{
    background-color: #228B22 ;
    height: 900px;
    width: 1200px;
    padding: 10px;
    margin:50px;
    border: 2px dashed black;

}

/*footer*/
footer{
    background-color: #23272A ;
    height: 80px;
}

.dark-row{
    background-color:#23272A ;
    height: 500px;
}